:root {
  --primary-color: #CC4C3C;
  --secondary-color: teal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 992px) {
    width: 85%;
  }
}